<ion-view view-title="About us">
  <ion-tabs class="tabs-striped tabs-color-royal">
    <ion-tab title="Home" icon="ion-images">
      <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Settings" icon="ion-android-contacts">
      <ion-nav-view name="tab-contact"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Rules" icon="ion-document-text">
      <ion-nav-view name="tab-terms"></ion-nav-view>
    </ion-tab>
  </ion-tabs>

  <ion-content>
  </ion-content>

</ion-view>
