<ion-view view-title="Bookings" >
    <ion-content class="padding">
		<p>Book an appointment</p>

       	<div ng-controller="BookingsCtrl">
			<pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>
			<!-- DATE PICKER -->
			<h4 style="text-align:center;">Calendar</h4>
			<div style="display:inline-block; min-height:290px; margin: 11px;">
				<datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
			</div>

			<button class="button button-block button-royal">
				Accept!
			</button>
		</div>

    </ion-content>
</ion-view>
