<ion-header-bar class="bar-royal">
	<h1 class="title">Sign in!</h1>
</ion-header-bar>
<ion-view view-title="Login">
	<ion-content class="padding">
		<form name="loginForm" ng-submit="login(loginForm)">
			<div class="list">
				<label class="item item-input">
					<i class="icon ion-ios-email-outline placeholder-icon royal"></i>
					<input type="email" placeholder="Email" required ng-model="loginData.email">
				</label>

				<label class="item item-input">
					<i class="icon ion-ios-locked-outline placeholder-icon royal"></i>
					<input type="password" placeholder="Password" required ng-model="loginData.password">
				</label>
			</div>
			<button class="button button-block button-royal" ng-disabled="loginForm.$invalid">Log in</button>
		</form>
		<p class="text-center">
      <a ui-sref="signup"> Not a user? Sign up here</a>
    </p>
	</ion-content>
</ion-view>
