<ion-view view-title="Login">
	<ion-content class="padding">
		<div class="list">
			<label class="item item-input">
				<i class="icon ion-ios-email-outline placeholder-icon royal"></i>
				<input type="text" placeholder="Email">
			</label>
			
			<label class="item item-input">
				<i class="icon ion-ios-locked-outline placeholder-icon royal"></i>
				<input type="text" placeholder="Password">
			</label>
		</div>
		<button class="button button-block button-royal">Log in</button>
	</ion-content>
</ionic-view>