<ion-view view-title="User">
  <ion-content style="background: #e8ebf1;" class="padding">
    <div class="list card">
      <div class="item item-avatar">
        <img src="img/users-header.png">
        <h2>Ionic User</h2>
        <p>
          All your users, one place.
        </p>
      </div>
      <div class="item item-body">
        <p>
          Ionic User is the backbone on which all ionic.io services are built.  The service easily tracks all the
          users of your app, along with any additional data you wish to track.  It serves as the backbone for powerful
          analytics and push notification targeting.  See the docs <a href="http://docs.ionic.io/identify/">here</a>
          for more info.
        </p>
        <p>
          Click the button below to identify your first user!
        </p>
        <button class="button button-block button-dark" ng-click="identifyUser()">
          Identify
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
