<ion-view view-title="Contact">
  <ion-content>
    <h2 style="text-align: center;">Contact!</h2>
    <div class="card">
      <div class="item item-text-wrap">
        TEL. 809-525-8461.  
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        CEL.809-446-7909.  
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        809-779-6442.
      </div>
    </div>
    <div class="card">
      <div class="item item-text-wrap">
        917-373-9644. 
      </div>
    </div>
  </ion-content>
</ion-view>
