  <ion-nav-view view-title="Terms">
    <ion-nav-bar>
      <ion-nav-back-button class="button-royal">
        <i class="ion-arrow-left-c"></i> Back
      </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
      <h2 style="text-align: center;">Terms!</h2>
      <h4 style="text-align: center;">Normas específicas para el uso de la Piscina y establecimiento.</h4>
      <div class="card">
        <div class="item item-text-wrap">
          1: las Delicias Paradise sé reserva el derecho de suspender el acto de cualquier evento si se incumplen las normas establecidas en este documento.
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          2:Usen y disfruten el inmuebles en el orario que usted elijas, estando en su conocimiento que si pasa de la ora elegida por usted, deberás pagar $800 pesos por cada ora extras.
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          3: Él arrendatario es responsable por el buen comportamiento de sus invitados. No tenemos salvavidas, nade a sus propios riesgos. No dejes los niños sin la supervision de un adulto en ningún momento.
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          4: Mantenga el área de la piscina limpia y libre de basura. No se permite en la piscina ni en su área botellas, vasos, comidas, bevidas, animales, piedras, vidrios, juguetes y ningún otros objetos. No mastique chicles en la piscina.
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          5: El ingreso y retiro de cualquier mobiliario al conjunto se realizarán por la puerta de acceso qué está ubicada por la entrada principal.
          Así mismo me comprometo al finalizar el evento, de la limpieza total de todas las áreas y hacer entrega del establecimiento limpio y libre de basura y de objetos en general.
          Me responsabilizo de remover el mismo día todos los mobiliarios que e traído a ésta propiedad,  tales como sillas, mesas, o cualquier otro equipo, y dejo libre de responsabilidades al propietario de ésta propiedad por cualquier pérdida o daño de los mobiliarios o equipo que yo el arrendatario e traído.
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          6: me comprometo a entregar los muebles y accesorios contenidos en el áreas en las mismas maneras y condiciones en que los he recibido, en caso contrario, me comprometo a pagar los daños, y/o autorizo al arrendador o al propetario a utilizar él depósito en garantía.
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          7: Él arrendatario se compromete a entregar todas las áreas utilizada a la hora indicada y en perfectas condiciones de limpieza.
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          8: Queda prohibido pintar, perforar, cortar plantas o dañar piso, techos, paredes en cualquiera de la piscina o sus inmediaciones.
        </div>
      </div>
      <div class="card">
        <div class="item item-text-wrap">
          9:Queda  prohibido el uso de fuegos artificiales o cualquier otro tipo de explosivos, o elementos inflamables por inofensivo que parezca, también es prohibido introducir las armas de fuegos. También es prohibido el uso de cualquier clase dé drogas o sustancias prohibidas.
        </div>
      </div>
    </ion-content>
  </ion-nav-view>

  <!-- SOME MORE CONTENT TO ORGANIZE-->
  <!-- <p>
      Gracias agradezco su cooperación.

      El cliente deberás depositar un 50% del alquiler cuando firme este documento y el otro 50% los deverás depositar 2 días antes del evento, de no ser así el lugar no estará disponible para la fecha acordada.  Si Usted cancela el contrato, perderas el Depósito.  

      De conformidad con lo establecido en este documento.

      Escriba su nombre con letra de molde

      Yo_ _ _ ____________________cédula_____________

      Dirección_________________________________
      Teléfono_____________________
      Acepto y recibo en calidad de alquiler Las Delicias Paradise, para el día _______________ del mes de ______________ del año 20___________para celebrar______________________________

      Tipos de eventos: piscina solamente____piscina con cocina________ Bodas_____Cumple años___ Bautizos_____Otros_____________

      Cantidad total RD $_________________
      Depósito RD $__________________
      Resta RD $_______________

      Acepto conocer todas y cada una de las normas establecidas en este reglamento en el uso de la Delicia Paradadise y me comprometo a cumplir y hacer cumplir por partes de mis invitados las normas establecidas para este evento, y me ago responsable por todos los daños que por razones del evento o por incumplimiento dé las normas, por culpa de negligencia personal de algunos de mis invitados.

      FIRMAS AUTORIZADAS:

      FIRMA Del cliente:                           FECHA.

      ________________________________.__________

      FIRMA DEL ENCARGADO:             FECHA.

      __________________________________.________
  <p> -->
