/* Empty. Add your own CSS if you like */

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
	color: #fff;
 	background-color: #886aea;
 	border-color: #6b46e5;
}

.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover,
.btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover,
.open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus,
.open>.dropdown-toggle.btn-info:hover {
	color: #fff;
 	background-color: #886aea;
 	border-color: #6b46e5;
}

.btn-info.active, .btn-info:active, .open>.dropdown-toggle.btn-info {
  	color: #fff;
 	background-color: #886aea;
 	border-color: #6b46e5;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

/*Error is set programmatically using ng-class*/
input.ng-invalid.ng-dirty.validate {
  /* background-color: red;*/
  border: 1px solid red;
}

input.ng-valid.ng-dirty.validate {
    border: 1px solid green;
}

.validation-icon-good {
	color: green;
}

.validation-icon-bad {
	color: red;
}
